body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1400px;
}

h1, h2 {
  font-family: 'Patua One', cursive;
  text-align: left;
  color: #FFC30F;
  margin: 20px 0 0 0;
  font-size: 75px;
  letter-spacing: 2px;
}
h2 {
  font-size: 60px;
  margin: 10px 0 40px 0;
}
h3 {
  text-align: left;
  color: #bbbbbb;
  margin: 0px 0 10px 0;
  font-size: 40px;
}
.Welcome {
  background-color: white;
}
.whatson {
  background: green;
}
.contact {
  background: red;
}
.headingcolor {
  background-color: #900C3F;
  background: 10px 0 40px 0;
}
