* { margin: 0px;
  padding: 0px;
}

body {
  font-family: helvetica, sans-serif;
  margin: 0px
  max-width: 1400px;
  { margin: 0px; padding: 0px; }
}

h1, h2 {
  font-family: 'Patua One', cursive;
  text-align: left;
  color: #FFC30F;
  margin: 20px 0 0 10px;
  font-size: 75px;
  letter-spacing: 2px;
}
h2 {
  font-size: 60px;
  margin: 10px 0 40px 30px;
}
h3 {
  text-align: left;
  color: white;
  margin: 0px 0 5px 40px;
  font-size: 40px;
}
p {
  margin: 0px 0 30px 40px;
}
img {
  image: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}

.Welcome {
  background-color: blue;
}
.whatson {
  background: green;
}
.contact {
  background: yellow;
}
html, body {
    margin: 0;
    padding: 0
}
header {
  background: url('https://peoplemakeglasgow.com/images/Clydeside1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: inline-block;
}
