* { margin: 0px;
  padding: 0px;
}

body {
font-family: helvetica, sans-serif;
background-color: #900C3F;
}

h1, h2, h3 {
  font-family: 'Patua One', cursive;
  text-align: center;
  color: #FFC30F;
  margin: 10px 0 10px 40px;
  font-size: 75px;
  letter-spacing: 2px;
}

h1 {
  padding: 50px 0 0 0;
}

h2 {
  font-size: 60px;
  padding: 0 0 60px 0;
}

h3 {
  /* text-align: left;
  color: white;
  margin: 0px 0 5px 40px;
  */
  font-size: 40px;
  padding: 0 0 20px 0;
}

p {
  margin: 0px 250px 0 250px;
  color: #FFC30F;
  text-align: center;


}

img {
  image: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}

.test {
  margin: 0px 0 40px 0px;
}

.Welcome {
  /*background-color: blue; */
  padding: 10px;
}

.whatson {
  /*background: green;*/
  padding: 10px;
}

.contact {
  /*background: yellow;*/
  padding: 10px;
}

.row {
  color: white;
  padding: 10px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 70px;
  float: right;
  text-decoration: none;
  border-radius: 50%;
  color: #FFC30F;
  position: static;
}

.container-fluid {
  float: right;
}

header {
  background: url('https://peoplemakeglasgow.com/images/Clydeside1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: inline-block;
}

form {
  /* Just to center the form on the page */
  width: 300px;
  padding: 10px;
  margin:0 auto;
	position:relative;
  /* To see the outline of the form */
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 300px;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;
  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  font-family: 'Patua One', cursive;
  color: #FFC30F;

   /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
  color: black;
}
@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #FFC30F;
}

.button1:hover {
    background-color: #FFC30F;
    color: white;
}
